<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/FMDigitech/WireTunnels/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>YFTXWuQkChzuy1Zhc2i2oJX3qunpBrIS7JZTWcZFobw=</string>
</dict>
</plist>
